.no-filters--img {
  width: 300px;
  margin: 0 auto;
  display: block;
}

.no-filters--text {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #4a4a4a;
}

.example {
  margin-left: 220px;
  margin-top: 150px;
  margin-bottom: 150px;
}
