.ticket-filter {
  max-width: 501px;
  width: 100%;
  height: 50px;
  margin-bottom: 18px;
  background-color: #ffffff;
  border-radius: 6px;
}

.ticket-btn {
  width: 33.3%;
  height: 100%;
  border: none;
  border-top: solid 1px #dfe5ec;
  border-bottom: solid 1px #dfe5ec;
  background-color: transparent;

  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;

  text-align: center;
  letter-spacing: 0.3px;
  text-transform: uppercase;

  color: #4a4a4a;

  &:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: solid 1px #dfe5ec;
  }

  &:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: solid 1px #dfe5ec;
  }

  &:hover {
    cursor: pointer;
    background-color: #2196f3;
    color: #ffffff;
  }
}

.active {
  background-color: #2196f3;
  color: #ffffff;

  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 650px) {
  .ticket-btn {
    height: 40px;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.2px;
  }
  .ticket-filter {
    height: 40px;
  }
}

@media (max-width: 530px) {
  .ticket-btn {
    height: 30px;
    font-size: 7px;
    line-height: 10px;
    letter-spacing: 0.1px;
  }

  .ticket-filter {
    height: 30px;
  }
}