.main {
  width: 960px;
  height: 100%;
  background-color: #f3f7fa;
  margin: 0 auto;
}

.main__logo {
  display: block;
  padding-top: 50px;
  margin: 0 auto 50px;
}

.main__content {
  width: 790px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}
